################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/src/x64
/x64
*.exp
*.iobj
*.ipdb
*.pdb
*.dll
*.aps
*.zip
/.vs
/src/.vs
