################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.obj
*.tlog
*.pdb
*.log
*.recipe
*.pch
/src/.vs/
/src/Release
/src/Debug
*.sln
/Debug
/Release
*.exp
*.iobj
*.ipdb
*.lib
*.dll
*.aps
*.zip
